<div
  id="faqs_index"
  data-controller="faqs"
  data-faqs-notice="<%= notice %>">
    <h4>Frequently Asked Questions</h4>

    <%= render 'table', :faqs => @faqs, :current_user => @current_user %>

    <br>

    <% if @current_user.lecturer_id == @course_module.lecturer.lecturer_id %>
      <div class="fixed-action-btn">
        <%=
          link_to(
            raw('<i class="material-icons">add</i>'),
            '#new-modal',
            :class => 'create-btn btn-floating btn-large waves-effect waves-light modal-trigger'
          )
        %>
      </div>

      <%= render 'form_modal', :modal_id => 'new-modal', :new_faq => @new_faq %>
    <% end %>
</div>
