<%=
  form.submit 'Update!',
  :class => 'btn waves-effect waves-light yellow hide',
  :data => {
    :target => 'course-modules.updateButton',
    :'course-module-id' => course_module.id
  }
%>

<a
  class="btn waves-effect waves-light red hide"
  data-course-module-id="<%= course_module.id %>"
  data-action="click->course-modules#hideEditForm">Cancel</a>