<%=
  form.submit 'Update!',
  :class => 'btn waves-effect waves-light yellow hide',
  :data => {
    :target => 'table.updateButton',
    'object-id' => course_module.id,
    :action => 'click->table#submitEditForm'
  }
%>

<a
  class="btn waves-effect waves-light red hide"
  data-object-id="<%= course_module.id %>"
  data-action="click->table#hideEditForm">Cancel</a>