<div data-controller="chatbot">
  <div data-target="chatbot.conversation"></div><br>
  <b>Question: </b>
  <form data-action="submit->chatbot#ask">
    <input data-target="chatbot.question" />
    <input type="submit">
  </form>
</div>
