<%= form_for :user, :method => :post, :url => :login  do |user| %>
  <div class="input-field">
    <%= user.text_field :email %>
    <label>Email Address</label>
  </div>

  <div class="input-field">
    <%= user.password_field :password %>
    <label>Password</label>
  </div>

  <%= user.submit :class => 'waves-effect waves-light btn' %>
<% end %>
