<%=
  form.submit 'Update!',
  :class => 'btn waves-effect waves-light yellow darken-1 hide',
  :data => {
    :target => 'coursework.updateButton',
    'object-id' => coursework.id,
    :action => 'click->coursework#submitEditForm'
  }
%>

<a
  class="btn waves-effect waves-light red lighten-1 hide"
  data-object-id="<%= coursework.id %>"
  data-action="click->coursework#hideEditForm">Cancel</a>