<div
  id="courseworks_index"
  data-controller="coursework"
  data-coursework-notice="<%= notice %>">
    <h4>Coursework</h4>

    <%= render 'table', :courseworks => @courseworks, :current_user => @current_user %>

    <br>

    <% if @current_user.lecturer_id == @course_module.lecturer.lecturer_id %>
      <div class="fixed-action-btn">
        <%= 
          link_to(
            raw('<i class="material-icons">add</i>'),
            '#new-modal',
            :class => 'create-btn btn-floating btn-large waves-effect waves-light modal-trigger',
          )
        %>
      </div>

      <%= render 'form_modal', :modal_id => 'new-modal', :new_coursework => @new_coursework %>
    <% end %>
</div>